* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-family: "Open Sans", "Alice", sans-serif;
}

#page {
  max-width: 1120px;
  margin: auto;
  padding: 88px 80px;
}

span {
  text-transform: uppercase;
  color: #E1624F;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 20px;
}

h1 {
  line-height: 49px;
  padding-bottom: 40px;
}

.first-img {
  padding-bottom: 24px;
}

.title-page p {
  font-style: italic;
  text-align: center;
  justify-content: center;
  height: 37px;
  padding-bottom: 44px;
}

main {
  padding-top: 64px;
}

h2 {
  font-size: 29px;
  margin-bottom: 8px;
}

p {
  font-size: 16.3px;
  color: #333333;
}

.img-card {
  padding-top: 50px;
}

h3 {
  margin-top: 20px;
  height: 38px;
  font-size: 25px;
}

strong {
  font-size: 16.5px;
}

ul {
  color: #0C51A7;
  font-weight: bold;
  padding-left: 24px;
}

#purple {
  color: #591B98;
}

#pink {
  color: #E5245E;
}

#orange {
  color: #E95E10;
  margin-bottom: 40px;
}

.line {
  width: 1120px;
  height: 0px;
  margin: 40px 0;
  border: 1px solid #D9D9D9;
}

footer {
  text-align: center;
  margin-bottom: 48px;
  color: #333333;
  font-family: "Alice";
}

